.myLabelCSS {
    color: honeydew;
    font-size: 3rem;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
}

.mySecondLabelCSS {
    color: honeydew;
    font-size: 1.5rem;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
}

.myThirdLabelCSS {
    color: honeydew;
    font-size: 1rem;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    font-weight: normal;
    display: inline-block;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
}

.myBoldLabelCSS {
    color: honeydew;
    font-size: 1rem;
    font-family: "72", "72full", Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: inline-block;
    white-space: nowrap;
    cursor: text;
    overflow: hidden;
}

.bodyBackgroundImage {
    background-image: url("../img/laptop.jpg");
    background-color: #cccccc;
}


/* Enter your custom styles here */


/* Enter your custom styles here */